{% extends "jeikkaus/base.html" %}
{% load i18n %}
{% block content %}
<div class='textarea'>
<table>
	<thead>
		<tr>
		<td class="match">&nbsp;</td><td class="result">&nbsp;</td>	
            {% for user, points in scoreboard.users %}
            <th colspan="2" class="playercol">{{ user.first_name }} {{ user.last_name }}</th>
            {% endfor %}
		</tr>
		<tr>
			<td>{% trans "Match" %}</td>
			<td>{% trans "Result" %}</td>
            {% for user, points in scoreboard.users %}
            <td>&nbsp;</td><td class="right-text">{{ points }}</td>
            {% endfor %}
		</tr>
	</thead>
	<tbody>
        {% for match in scoreboard.matches %}
		<tr class="{% cycle "evenrow" "oddrow" %}">
            <th>{{ match.0.title }}</th>
            <th>{{ match.0.score }}</th>
            {% for g in match.1 %}
            <td class="center-text">{{ g }}</td><td class="right-text points">{{ g.points }}</td>
			{% endfor %}			
		</tr>
        {% endfor %}		
	</tbody>
	<tfoot>
		<td>{% trans "Total" %}</td><td>&nbsp;</td>
		{% for user, points in scoreboard.users %}
		<td>&nbsp;</td><td>{{ points }}</td>
		{% endfor %}
	</tfoot>
</table>
</div>
<br/>
<div id="footeri"></div>
{% endblock %}

